<html>
<head>
    <title></title>
</head>
<body>
{% if stu %}
    <table border="2">
    <thead>
    <th>student id</th>
    <th>student name</th>
    <th>student age</th>
    <th>student loaction</th>

    </thead>
    {% for student in stu %}
        <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.sname }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.location }}</td>
        <td>{{ student.c_count}}</td>

{#        <td>{{ student.id }}</td>#}
        </tr>

    {% endfor %}

    </table>
{% endif %}
</body>
</html>